doctype html
html
  - var title = 'Blái naglinn';
  - var description = 'Baráttan gegn krabbameini'
  - var url = 'http://blainaglinn.is'
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title=title

    meta(name="description" content=description)
    meta(name="theme-color" content="#f3df49")

    link(rel='icon' type='image/png' href='favicon.png')
    link(rel='stylesheet' href='/styles/main.css')

    meta(property='og:title' content=title)
    meta(property='og:site_name' content=title)
    meta(property='og:url' content=url)
    meta(property='og:description' content=description)
    meta(property='og:type' content='website')
    meta(property='og:image' content=(url + '/images/og.png'))

    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content="@jsconfis")
    meta(name="twitter:title" content=title)
    meta(name="twitter:description" content=description)
    meta(name="twitter:image" content=(url + '/images/og.png'))
  body
    .container
      h1=title

    script(src="scripts/app.js")
